name: CI/CD

# События для запуска workflow
on:
  # Workflow будет запущен на пуш в ветку main или на pull-request в ветку main
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Шаги workflow
jobs:
  # Тестирование проекта на разных ОС
  test:
    # Тип runner'а, который будет использоваться для тестирования проекта
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    # Шаги workflow сборки проекта
    steps:
      # Клонировать репозиторий на раннер и сделать check-out на коммит, который вызвал workflow
      - uses: actions/checkout@v4
      # Настроить Java 21 для прогона тестов
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      # Запустить прогон тестов с распечаткой ошибок
      - run: mvn clean test -e
  # Сборка проекта и публикация образа в реестре
  install:
    # Сборка и публикация только после успешных тестов
    needs: test
    # Данные для авторизации на хранилище образов GitHub Container Registry
    env:
      GHCR_USERNAME: ${{ secrets.GHCR_USERNAME }}
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
    # Тип runner'а, который будет использоваться для сборки проекта
    runs-on: ubuntu-latest

    # Шаги workflow сборки проекта
    steps:
      # Клонировать репозиторий на раннер и сделать check-out на коммит, который вызвал workflow
      - uses: actions/checkout@v4
      # Настроить Java 21 для сборки
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      # Запустить сборку без тестов и с распечаткой ошибок
      - run: mvn clean install -DskipTests -e
  # Тестирование проекта на разных ОС
  deploy:
    # Развёртывание приложения только после успешной публикации образа
    needs: install
    # Тип runner'а, который будет использоваться для тестирования проекта
    runs-on: ubuntu-latest
    # Шаги workflow развёртывания проекта
    steps:
      # Развёртывание на удалённом сервере с помощью SSH
      - name: Deploy to remote server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} -p ${{ secrets.GHCR_TOKEN }}
            sudo docker pull ghcr.io/dfedorino/github-actions-echo-server/echo-server:latest
            sudo docker stop echo-server || true
            sudo docker rm echo-server || true
            sudo docker run -d \
              --name echo-server \
              -p 8080:8080 \
              ghcr.io/dfedorino/github-actions-echo-server/echo-server:latest
